sophon-app/src/main/java/com/fanqiang/sophon/jaxb/mm/mm.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="SUMMIT">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="COMMON">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="MsgId"/>
                            <xs:element type="xs:string" name="ExternalId"/>
                            <xs:element type="xs:string" name="Type"/>
                            <xs:element type="xs:string" name="Version"/>
                            <xs:element type="xs:string" name="Action"/>
                            <xs:element type="xs:string" name="Timestamp"/>
                            <xs:element type="xs:string" name="TargetSystem"/>
                            <xs:element type="xs:string" name="SourceSystem"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="TRADEDETAIL">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TRADELIST">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MM">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="TradeType"/>
                                                    <xs:element name="Env">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="ENV">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="TradeDate"/>
                                                                            <xs:element type="xs:string" name="Trader"/>
                                                                            <xs:element type="xs:string" name="Cust"/>
                                                                            <xs:element type="xs:string" name="Company"/>
                                                                            <xs:element type="xs:string" name="Desk"/>
                                                                            <xs:element type="xs:string" name="Book"/>
                                                                            <xs:element type="xs:string" name="Comment1"/>
                                                                            <xs:element type="xs:string" name="Comment2"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:string" name="SINGLE"/>
                                                            <xs:attribute type="xs:string" name="TYPE"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Back">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="BACK">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="ExtSystem"/>
                                                                            <xs:element type="xs:string" name="ExtTradeId"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:string" name="SINGLE"/>
                                                            <xs:attribute type="xs:string" name="TYPE"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="Assets">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="ASSET" maxOccurs="unbounded" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element type="xs:string" name="PorS"/>
                                                                            <xs:element type="xs:string" name="MMType"/>
                                                                            <xs:element type="xs:string" name="Ccy"/>
                                                                            <xs:element type="xs:decimal" name="Notional"/>
                                                                            <xs:element type="xs:decimal" name="INTEREST_Rate"/>
                                                                            <xs:element type="xs:string" name="INTEREST_dmIndex"/>
                                                                            <xs:element type="xs:string" name="INTEREST_Term"/>
                                                                            <xs:element type="xs:string" name="INTEREST_Basis"/>
                                                                            <xs:element type="xs:string" name="INTEREST_Ccy"/>
                                                                            <xs:element type="xs:string" name="SCHED_Pay_IntRule"/>
                                                                            <xs:element type="xs:string" name="Deliverable"/>
                                                                            <xs:element type="xs:string" name="INTEREST_IntRateType"/>
                                                                            <xs:element type="xs:string" name="EffDate"/>
                                                                            <xs:element type="xs:string" name="MatDate"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:string" name="SINGLE"/>
                                                            <xs:attribute type="xs:string" name="TYPE"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>